*.pyc
*__pychache__/
/train_and_deploy/*.pth
/train_and_deploy/*.jpg
/train_and_deploy/size20_resnet18_01-27-14-17.jpg
/train_and_deploy/size20_cnn_01-27-14-17.jpg
/train_and_deploy/data*
/train_and_deploy/duplicate_mover.py
